src/main/resources/wsdl/s2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/s2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="s2" targetNamespace="http://www.example.org/s2/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/s2/">
      <xsd:element name="s2request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param1" type="xsd:string"/>
            <xsd:element name="param2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="s2response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return1" type="xsd:string"/>
            <xsd:element name="return2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="s2OperationRequest">
    <wsdl:part element="tns:s2request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="s2OperationResponse">
    <wsdl:part element="tns:s2response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="s2">
    <wsdl:operation name="s2Operation">
      <wsdl:input message="tns:s2OperationRequest"/>
      <wsdl:output message="tns:s2OperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="s2SOAP" type="tns:s2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="s2Operation">
      <soap:operation soapAction="http://www.example.org/s2/s2Operation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="s2">
    <wsdl:port binding="tns:s2SOAP" name="s2SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
